---
title: Untitled
crumbs: []
postfix: true
links:
  - [About Me, /]
  - [FAQ, /faq/]
  - [Currently, /currently/]
  - [Essays, /essays/]
  - [Art, /art/]
  - [Life, /life/]
  - [Pay, /pay/]
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="same-origin" />

    <link rel="icon" href="/basic/favicon.svg" />
    <link rel="icon" href="/basic/favicon.png" />
    <link rel="stylesheet" href="/style.css" />

    <!-- Page Views -->
    {#{% if isProd %}
    <script
      defer
      data-domain="www.brooksb.dev"
      data-api="/pls/api/event"
      src="/pls/js/script.js"
    ></script>
    {% endif %}#}

    <!-- Feeds -->
    {% for feed in collections.feed %}
    <link rel="feed" href="{{ feed.url }}" title="{{ feed.data.title }}" />
    {% endfor %}

    <!-- Title -->
    {% if postfix %}
    <title>{{ [title] | concat(crumbs) | join(" - ") }} - Disjoint Union</title>
    {% else %}
    <title>{{ title }}</title>
    {% endif %}
  </head>
  <body class="max-w-screen-md mx-auto pb-8">
    <header class="m-2">
      <div class="flex flex-wrap justify-between">
        <span class="mb-2 flex">
          <img
            class="mx-2 inline h-7 w-7"
            src="/basic/favicon.svg"
            width="32"
            height="32"
            alt="Disjoint Union logo"
          />
          <a class="inline-block text-xl font-bold nav-button" href="/">
            Disjoint Union
          </a>
        </span>
        <a class="mb-2 mx-2 text-lg nav-button" href="/legal/">Legal</a>
      </div>
      <nav class="flex flex-wrap justify-center border-t-8 border-black p-1">
        {% for name, path in links %}
        <a class="m-1 text-lg nav-button" href="{{ path }}"> {{ name }} </a>
        {% endfor %}
      </nav>
    </header>
    <div class="mx-auto prose prose-sm sm:prose-base">
      <section class="main-paper">
        My content is
        <b>free to use, distribute, and modify</b> (see
        <a href="#page-license">license below</a>).
      </section>
      <main class="p-4">{{ content | safe }}</main>
      <footer class="main-paper">
        <p id="page-license">
          My <em>original content</em> on this page is licensed under
          <a rel="license" href="{{ cc.href }}">{{ cc.name }}</a>.
          <br />
          See "<a rel="payment" href="/pay/">If Free, Why Pay</a>" for an
          explanation of why.
        </p>

        <a href="{{ cc.href }}">
          <img
            class="my-0 w-full print:w-32"
            alt="{{ cc.name }} image"
            src="/basic/by-sa.svg"
            width="120"
            height="42"
          />
        </a>

        <p>For citation purposes:</p>
        <blockquote
          xmlns:cc="http://creativecommons.org/ns#"
          xmlns:dct="http://purl.org/dc/terms/"
        >
          <a
            class="inline-block"
            property="dct:title"
            rel="cc:attributionURL"
            href="https://brooksb.dev{{ page.url }}"
            >{{ title }}</a
          >
          by
          <a
            class="inline-block"
            property="cc:attributionName"
            rel="dct:creator"
            href="https://brooksb.dev/"
            >Michael Bradley (TheDocTrier)</a
          >
          is licensed under
          <a class="inline-block" href="{{ cc.href }}">{{ cc.name }}</a>.
        </blockquote>

        <p>
          You can view the complete history of every page on this website in the
          <a rel="repo" href="https://github.com/TheDocTrier/disjoint-union"
            >git repository</a
          >. If you see a mistake,
          <a href="https://github.com/TheDocTrier/disjoint-union/issues"
            >file an issue</a
          >
          or
          <a href="https://github.com/TheDocTrier/disjoint-union/pulls"
            >submit a pull request</a
          >. Also, I generate a <a href="/sitemap/">sitemap</a> for searching
          all titles.
        </p>
      </footer>
    </div>
  </body>
</html>
