---
title: Untitled
postfix: " - Disjoint Union"
links:
  - [About Me, /]
  - [FAQ, /faq/]
  - [Currently, /currently/]
  - [Essays, /essays/]
  - [Art, /art/]
  - [Life, /life/]
  - [Pay, /pay/]
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon.svg" />
    <link rel="icon" href="/static/favicon.png" />
    <link rel="stylesheet" href="/style.css" />
    <title>{{ title }}{{ postfix }}</title>
  </head>
  <body class="max-w-screen-md container mx-auto pb-8">
    <header class="m-2">
      <img
        class="mb-2 mx-2 inline h-7 w-7"
        src="/static/favicon.svg"
        width="32"
        height="32"
      />
      <a class="mb-2 inline-block text-xl font-bold nav-button" href="/">
        DisjointUnion.Link
      </a>
      <nav
        class="flex flex-wrap justify-center border-t-8 border-b-8 border-black p-1"
      >
        {% for name, path in links %}
        <a class="m-1 text-lg nav-button" href="{{path}}"> {{ name }} </a>
        {% endfor %}
      </nav>
    </header>
    <main class="m-4 p-4 md:paper mx-auto prose">{{ content | safe }}</main>
    <footer class="m-4 p-4 md:paper mx-auto prose">
      <p>
        You can view the complete history of every page on this website in the
        <a rel="repo" href="https://github.com/TheDocTrier/disjoint-union"
          >git repository</a
        >. If you see a mistake,
        <a href="https://github.com/TheDocTrier/disjoint-union/issues"
          >file an issue</a
        >
        or
        <a href="https://github.com/TheDocTrier/disjoint-union/pulls"
          >submit a pull request</a
        >. Also, I generate a <a href="/sitemap/">sitemap</a> for searching all
        titles.
      </p>

      <p>
        Read my <a href="/legal/">PRIVACY POLICY</a> before continuing to use
        this website.
      </p>
    </footer>
  </body>
</html>
