{% macro pageNav(current, prev, next, hrefs=[]) %}
<nav class="flex flex-wrap justify-center p-1">
  <!-- Link to Previous Page -->
  {% if prev %}
  <a class="m-1 basic-button" href="{{ prev }}" rel="prev"> Previous </a>
  {% endif %}

  <!-- Links to Pages -->
  {% if hrefs.length > 1 %} {% for href in hrefs %} {% if href === current %}
  <span class="m-1 basic-button bg-black text-white"> {{ loop.index }} </span>
  {% else %}
  <a class="m-1 basic-button" href="{{ href }}"> {{ loop.index }} </a>
  {% endif %} {% endfor %} {% endif %}

  <!-- Link to Next Page -->
  {% if next %}
  <a class="m-1 basic-button" href="{{ next }}" rel="next"> Next </a>
  {% endif %}
</nav>
{% endmacro %}
