---
layout: main-layout
pagination:
  reverse: true
  size: 25
  alias: posts
---

<section class="h-feed">
  <h1 class="p-name">{{ title }}</h1>

  {% if not pagination.pageNumber %} {{ content | safe }} {% endif %}

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr class="h-entry">
        <td>
          <a class="p-name u-url" href="{{ post.url }}">
            {{ post.data.title }}
          </a>
          {% if post.data.summary %}
          <div class="p-summary">{{ post.data.summary | markdown | safe }}</div>
          {% endif %}
        </td>
        <td class="dt-published">{{ post.date | fmtDate }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% from "page-nav.html" import pageNav %}
  <!-- Render Page Nav -->
  {{ pageNav(page.url, pagination.href.previous, pagination.href.next,
  pagination.hrefs) }}
</section>
