@media (max-width: 480px) {
  body {
    font-size: 16px;
  }
}

.content p,
.post-summary {
  text-indent: 1em;
}

table {
  margin: 1em auto;
}

.note {
  padding: 0.5em 1em;
  background-color: var(--pagination-bg-color);
}
