@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

@responsive {
  .paper {
    @apply border-2 border-black;
    box-shadow: 4px 4px black;
  }
}

.invert-button {
  @apply px-2 border-black hover:bg-black hover:text-white;
}

.basic-button {
  @apply invert-button border-2;
}

.nav-button {
  @apply invert-button border-b-4;
}

/* Formatting External Links */
/*a[href^="//"]::after,
a[href*="://"]::after*/
a.external-link {
  font-style: italic;
}
